<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <section name="bio">
            <h1>Bagus Surya Baskoro</h1>
            <p>
                Aspiring CS person with a passion. Observant. Polite.
            </p>
            <table class="table">
                <tr>
                    <td>Birthdate</td>
                    <td>27th November 1997</td>
                </tr>
                <tr>
                    <td>Birthplace</td>
                    <td>Jakarta</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>
                        Jl. Rahasia Blok D No. 123
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>qassaq10@gmail.com</td>
                </tr>
            </table>
        </section>
        <br>
        <section name="education">
            <h2>Education History</h2>
            <table class="table">
                <tr>
                    <td>August 2016 - Now</td>
                    <td>Fasilkom UI</td>
                </tr>
                <tr>
                    <td>2013 - 2016</td>
                    <td>SMA Dian Didaktika</td>
                </tr>
                <tr>
                    <td>2011 - 2013</td>
                    <td>SMP Dian Didaktika</td>
                </tr>
                <tr>
                    <td>2005 - 2011</td>
                    <td>SD Dian Didaktika</td>
                </tr>
            </table>
        </section>
    </div>
</body>
</html>